.home-service {
	@apply bg-blue-50 px-4;
}
.home-service-container {
	@apply pt-32 flex flex-col justify-center items-center w-full m-auto pb-16;
	max-width: 1100px;
}
.service-title {
	@apply text-blue-900 font-semibold text-4xl;
}
.service-subtitle {
	@apply mt-4 text-sm text-gray-600 relative;
}
.service-subtitle::after {
	content: '';
	height: 4px;
	width: 80px;
	border-radius: 10px;
	position: absolute;
	top: 200%;
	right: 50%;
	transform: translate(50%, -50%);
	color: white;
	@apply bg-green-400;
}

.service-card-container {
	@apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 m-auto mb-12;
	max-width: 1100px;
}

.service-card {
	@apply pt-6 px-4 text-center flex flex-col bg-white shadow-lg rounded-lg;
}
.service-card-image {
	@apply h-64;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
}
.service-card-btn {
	@apply bg-blue-900 text-white rounded-md transition hover:bg-green-400 px-5 py-1 mb-4 w-max self-center;
}
