@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

body,
html {
	font-family: 'Titillium Web', sans-serif;
	background: rgb(241, 240, 255);
}

.color-custom {
	color: #3011bc;
}
.bg-custom {
	background-color: #3011bc;
}
